<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="" rel="stylesheet">
<style type="text/css">
	.main{
		width: 800px;
		margin: auto;
	}
</style>
</head>
<body>
    <% include header.html %>
    <div class="main">
    	<form action="/user/update" method="post">
    		<input type="hidden" name="id" value="<%= data[0].id %>">
    		姓名：<input type="text" name="name" value="<%= data[0].name %>">
    		年龄: <input type="text" name="age" value="<%= data[0].age %>">
    		职业: <input type="text" name="professional" value="<%= data[0].professional %>">
    		<input type="submit" name="" value="提交">
    	</form>
    </div>
</body>
</html>